<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8" />
        <title>
            {% block title %}

            {% endblock %}
            GGV
        </title>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/estilos.css' %}" />
    </head>
    <body>
        <header>
            <div id="logotipo">
                     <img src ="{% static 'images/untels.png'%}" height="100px" width="100px"/>
                <h1>Examen Final LP</h1>
            </div>
        </header>
        
        <nav>

             <ul>
            <li>
                <a href="{% url 'saludo' %}"> Inicio</a>
            </li>
            <li>
                 <a href="{% url 'integrantes' %}"> Integrantes</a>
            </li>
            <li>
                <a href="{% url 'crearcurso' %}"> Crear Producto</a>
           </li>
           <li>
            <a href="{% url 'crearproducto' %}"> Crear Cursos</a>
       </li>
            </ul>

        </nav>
            <div class="barra">
                 <span class="esquina-izquierda"></span>
                 <span class="relleno-barra"></span>
                 <span class="esquina-derecha"></span>
            </div>

            <div id="content">
                <div class="box">
                    
                    {% block content %}
                         <strong></strong>
                    {% endblock %}   
                </div>
                
            </div>
        <footer>
                 &copy; GGV_EF "{% now "d/m/Y h:m:s" %}"
        </footer>
    </body>
</html>